*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: rgb(98, 98, 99);
    font-family: Arial, Helvetica, sans-serif;
}

.form-contains{
    background-color: black;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    padding: 50px;
    border-radius: 10px;
}

input{
    padding: 10px;
    margin-top: 10px;
    color: black;
}

.submit{
    background-color: dodgerblue;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
}

.submit:hover{
    background-color: deepskyblue;
}


.msg-erro{
    color: rgb(236, 55, 55);
    text-align: center;
    margin-top: 15px;
}

.link-login{
    text-align: center;
    margin: 8px auto;
    color: white;
}

